@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}

input {
  border: solid 1px black;
}

button {
  border: solid 1px black;
}

.header {
  border: 1px solid black;
  margin-bottom: 20px;

}